*.iml
.idea/
target/
.vertx/
**/bin/
**/*.db
**/*.bak
**/generated/
**/logs/
**/out/
**/.project
**/.classpath
**/.settings/
**/.factorypath
settings*.xml
cluster*.xml
build/
demo/*.jar
demo/*.md
.gradle/
